<!doctype html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title and page.url != "/" %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{ page.summary | default: site.description | strip_html | strip }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.summary | default: site.description | strip_html | strip }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  {% if page.thumbnail %}<meta property="og:image" content="{{ page.thumbnail | absolute_url }}">{% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="{{ page.layout | default: 'page' }}">
  {% include header.html %}

  <main id="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
  {% if page.lottie %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" defer></script>
  {% endif %}
</body>
</html>
